{{define "Footer"}}
<!-- Widgets Start -->
<div class="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
                    <h6 class="widget-tiltle">&nbsp;</h6>
                    <p>
                        Suscribete
                    </p>
                    <div class="media">
                        <i class="fa fa-map-marker"></i>
                        <div class="media-body ml-3">
                            <h6>Direccion </h6>
                            Trabajamos a domicilio
                        </div>
                    </div>
                    <div class="media">
                        <i class="fa fa-envelope-o"></i>
                        <div class="media-body ml-3">
                            <h6>Dudas?</h6>
                            <a href="mailto:franciel.carmona@gmail.com">franciel.carmona@gmail.com</a>
                        </div>
                    </div>
                    <div class="media">
                        <i class="fa fa-phone"></i>
                        <div class="media-body ml-3">
                            <h6>Llama y contratanos!</h6>
                            <a href="tel:+5352974698"> +53 52974698</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xl-3">

            </div>
            <div class="media">

            </div>
            <div class="col-md-6 col-xl-3">

            </div>
            <div class="col-md-6 col-xl-3">

            </div>
        </div>
        <!-- Widgets End -->
        <!-- Foot Note Start -->
        <div class="foot-note">
            <div class="container">
                <div class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
                    <p class="mb-0" data-aos="fade-right" data-aos-offset="0">&copy; 2020 All Rights Reserved. Design by <a href="https://laurairene785.github.io" target="_blank" class="fh5-link">laurairene785</a>.</p>
                    <p class="mb-0" data-aos="fade-left" data-aos-offset="0"><a href="#">Terms Of Use</a><a href="#">Privacy & Security Statement</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
    <!-- Foot Note End -->
    <!-- Footer Endt -->
<!--jQuery-->
<script src="assets/js/jquery-3.3.1.js"></script>
<!--Plugins-->
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/loaders.css.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/lightgallery-all.min.js"></script>
<!--Template Script-->
<script src="assets/js/main.js"></script>
</body>

</html>
{{- /*gotype: html*/ -}}
{{end}}